<div class="fondo">
  <div class="card">
    <div class="logo"></div>
    <form (ngSubmit)="registrarUsuario()">
      <div class="form-body">
        <input type="text" placeholder="Usuario" [(ngModel)]="usuario.nombre" name="nombre" required>
        <input type="password" placeholder="Contraseña" [(ngModel)]="usuario.contrasenia" name="contrasenia" required>
        <input type="email" placeholder="Correo" [(ngModel)]="usuario.correo" name="correo" required>
        <p-calendar name="fecha" [(ngModel)]="date2" showIcon="true" placeholder="Fecha de nacimiento" dateFormat="dd/mm/yy"></p-calendar>

        <div class="avatar-box">
          <p>Elige tu avatar:</p>
          <div class="avatar-options">
            <button
              type="button"
              class="avatar-btn avatar1"
              [class.selected]="selectedAvatar === 'avatar1'"
              (click)="selectedAvatar = 'avatar1'">
            </button>

            <button
              type="button"
              class="avatar-btn avatar2"
              [class.selected]="selectedAvatar === 'avatar2'"
              (click)="selectedAvatar = 'avatar2'">
            </button>
          </div>
        </div>
        <button class="action-btn" type="submit">Registrar</button>
      </div>
      <div class="link-box">
        <span>¿Ya tienes cuenta?</span>
        <a routerLink="/inicio" class="link-accent">Inicia sesión</a>
      </div>
    </form>
  </div>
  <!-- Remueve temporalmente si sospechas de MusicaComponent -->
  <app-musica></app-musica>
</div>
