<div class="fondo">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="card">
    <div class="logo"></div>
    <div class="form-body">
      <div *ngIf="username.invalid && username.touched" class="error">
        Usuario es requerido
      </div>

    <div >
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="loginData.username"
        placeholder="Usuario"
        required
        #username="ngModel"
      >
    </div>
      <div *ngIf="password.invalid && password.touched" class="error">
        <div *ngIf="password.errors?.['required']">Contraseña es requerida</div>
        <div *ngIf="password.errors?.['minlength']">
          Mínimo 6 caracteres
        </div>
      </div>
    <div>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="loginData.password"
        placeholder="Tu contraseña"
        required
        minlength="6"
        #password="ngModel"
      >

    </div>
    </div>
      <button type="submit" [disabled]="loginForm.invalid">Iniciar</button>
      <div class="link-box">
        <span>¿No tienes cuenta?</span>
        <br>
        <a routerLink="/registro" class="link-accent">Regístrate</a>
      </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
  </form>
</div>
