<div class="fondo">

  <div class="hp-p1">
    <h1 class="pokemon-nombre">Nombre Pokemon</h1>
    <div>
      <h1 class="hp-text ">HP</h1>
      <div class="vida">
        <div class="vida-barra" id="vidaBarra1"></div>
      </div>
    </div>
  </div>
  <div class="hp-p2">
    <h1 style="margin-left: 150px" class="pokemon-nombre">Nombre Pokemon</h1>
    <div>
      <h1 style="margin-left: 820px" class="hp-text">HP</h1>
      <div style="margin-left: 20px" class="vida">
        <div  class="vida-barra" id="vidaBarra2"></div>
      </div>
    </div>
  </div>
  <!--TODO Poner pokemones desde los eequipos guardados tanto de usario como de invitado -->
    <div class="pokemones"></div>

  <div class="bar">
    <div class="container-equipos"></div>
    <div class="container-stats">
      <button class="btn-ataque">Bola de fuego </button>
      <button class="btn-ataque">Tu pape </button>
      <button style="margin-top: 10px" class="btn-ataque">Blurring</button>
      <button style="margin-top: 10px" class="btn-ataque">Lol</button>
    </div>




    <div class="container-msm"></div>


  </div>
</div>
