.fondo {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondo::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/Pagina Principal.png");
  background-size: cover !important;
  background-position:center 60%;
  background-repeat: no-repeat;
  z-index: -1;
}
.btn-vs {
  font-family: 'Press Start 2P', cursive; /* tipografía estilo pixel (opcional) */
  font-size: 28px;
  color: #c81e1e;
  background: white;
  border: 7px solid #c81e1e;
  border-radius: 30px;
  padding: 30px 60px;
  cursor: pointer;
  transition: 0.3s;
}
