<div class="music-btn-container" (mouseleave)="showSlider = false">
  <button class="music-btn"
          (click)="toggleMute()"
          (mouseenter)="showSlider = true">
    <i class="pi"
       [ngClass]="musicService.muted ? 'pi-volume-off' : 'pi-volume-up'"
       [style.color]="musicService.muted ? '#b0b3b8' : '#fff'"
       [style.textDecoration]="musicService.muted ? 'line-through' : 'none'"></i>
  </button>
  <div class="music-slider" *ngIf="showSlider">
    <p-slider [min]="0" [max]="1" [step]="0.01" [style]="{ width: '140px' }"
              [(ngModel)]="volume"
              (ngModelChange)="setVolume($event)">
    </p-slider>
    <div class="music-volume-label">{{ (volume * 100) | number:'1.0-0' }}%</div>
  </div>
</div>
