<div class="container-eleccion">
  <h1 class="titulo">Elige tu equipo invitado</h1>
  <div class="layout-principal">
    <div class="galeria">
      <div class="botones-superiores">
        <p-split-button
          label="{{selectedEquipo?.nombre || 'Tus equipos'}}"
          icon="pi pi-users"
          [model]="splitButtonItems">
        </p-split-button>

        <p-button
          icon="pi pi-arrow-left"
          label="Anterior"
          severity="info"
          (onClick)="anterior()"
        ></p-button>

        <p-button
          icon="pi pi-arrow-right"
          label="Mas Pokemones"
          (onClick)="siguiente()"
        ></p-button>
      </div>
      <div class="card">
        <div
          *ngFor="let p of pokemones"
          class="pokemon-card"
          (click)="seleccionarPokemon(p)"
        >
          <img [src]="p.imagen" [alt]="p.nombre" />
          <p class="pokemon-nombre">{{ p.nombre }}</p>
          <span *ngIf="p.seleccionado" class="badge-verde"></span>
        </div>
      </div>
    </div>

    <div class="lado-derecho">
      <div class="detalle" *ngIf="pokemonActual">
        <img [src]="pokemonActual.imagen" [alt]="pokemonActual.nombre" />
        <h2>{{ pokemonActual.nombre | titlecase }}</h2>

        <!-- Tipos con color por clase -->
        <div *ngIf="pokemonActual.tipo?.length">
          <h3>Elemento:</h3>
          <ul>
            <li
              *ngFor="let tipo of pokemonActual.tipo"
              [ngClass]="'tipo-' + tipo.toLowerCase()"
            >
              {{ tipo }}
            </li>
          </ul>
        </div>

        <div *ngIf="pokemonActual.movimientos?.length">
          <h3>Poderes:</h3>
          <ul>
            <li *ngFor="let mov of pokemonActual.movimientos">{{ mov }}</li>
          </ul>
        </div>
      </div>

      <div  class="boton-siguiente" *ngIf="pokemonActual">
        <p-button
          icon="pi pi-arrow-right"
          label="SIGUIENTE"
          (onClick)="irSiguiente()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
