.logo {
  background-image: url("../../assets/logoPokemon.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  width: 350px !important;
  height: 350px !important;
  position: absolute;
  top: -130px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;
}

.fondo {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondo::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/Video-de-WhatsApp-2025-10-02-a-las-19.08.45_d81dc17a.gif");
  background-size: cover !important;
  background-position:center 15%;
  background-repeat: no-repeat;
  z-index: -1;
}
.form-body {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card {
  background: rgba(255, 255, 255, 0.50);
  border-radius: 38px;
  box-shadow: 0 4px 24px rgb(116, 157, 93);
  padding: 32px 32px 16px 32px;
  width: 430px !important;
  height: 490px !important;
  margin: 60px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-right: 120px !important;
  margin-bottom: 70px !important;
  margin-top: 100px !important;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  width: 75%;
  height: 50px;
  padding: 12px;
  border-radius: 12px;
  background: white;
  border-color: #2c6599;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 0 2px 6px rgb(44, 101, 153, 0.75);
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 8px;
  z-index: 10;
  position: relative;
  color: black;

}
button {
  width: 200px;
  height: 73px !important;
  padding: 12px;
  border-radius: 22px;
  background: white;
  border: 2.5px solid #2c6599;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(44, 101, 153, 0.75);
  margin-top: 10px;
  margin-left: 75px;
  font-family: 'Press Start 2P', cursive;
  color: #0b4571;


}

button:hover,
button:focus-visible {
  background-color: #fffb00;
  color: #1f578a;
  box-shadow: 0 8px 32px 0 rgba(44,101,153,0.22), 0 1.5px 8px 0 rgba(0,0,0,0.10);
  transform: translateY(-2px) scale(1.03);
  border-color: #1f578a;
  outline: none;

}

.link-box {
  margin-top: 16px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #e0e0e0;
  letter-spacing: 0.2px;
  font-family: 'Poppins', sans-serif !important;
  top: -25px;
}

.link-box span {
  color: #0d2e49;
  letter-spacing: -1px;
  top: -25px;

}

.link-accent {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
  transition: color 0.18s, text-decoration 0.18s;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -1px;
}

.link-accent:hover {
  color: #D32F2F !important;
  text-decoration: Highlight;
  font-family: 'Poppins', sans-serif !important;

}
.form-body {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
