<div class="fondo">
  <!-- Botón menú esquina superior izquierda -->
  <button class="sidebar-btn" (click)="visible = true">
    <i class="pi pi-bars"></i>
  </button>

  <!-- Sidebar/Drawer -->
  <p-drawer [(visible)]="visible" position="left" [modal]="true" [dismissible]="true" (onHide)="visible = false" class="custom-sidebar">    <div class="sidebar-content">
      <!-- Opciones Sidebar -->
      <div class="sidebar-options">
        <div class="sidebar-title">MENÚ</div>
        <ul>
          <li>
            <a pRipple class="sidebar-option" routerLink="/pokemones" (click)="visible = false">
              <i class="pi pi-star"></i>
              <span>Pokemones</span>
            </a>
          </li>
          <li>
            <a pRipple class="sidebar-option" routerLink="/equipos" (click)="visible = false">
              <i class="pi pi-users"></i>
              <span>EquiposComponent</span>
            </a>
          </li>
          <li>
            <a pRipple class="sidebar-option" routerLink="/musica" (click)="visible = false">
              <i class="pi pi-music"></i>
              <span>Música</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- UsuarioComponent y salir -->
      <div class="sidebar-user">
        <a class="sidebar-profile-link" routerLink="/usuario" (click)="visible = false">
          <p-avatar [image]="user.photo" shape="circle" class="sidebar-avatar"/>
          <span class="sidebar-username">{{ user.nickname }}</span>
        </a>
        <button class="sidebar-logout" pRipple (click)="logout()">
          <i class="pi pi-sign-out"></i>
        </button>
      </div>
    </div>
  </p-drawer>

  <div class="logo"></div>
  <div class="botones">
    <button class="btn-vs">1 VS 1</button>
    <button class="btn-vs">1 VS PC</button>
  </div>
</div>
