.container-equipos {
  max-width: 600px;
  margin: auto;
  background: rgba(255 255 255 / 0.75);
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 70px !important;
}
.fondo {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  width: 100%;
}

.fondo::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/equipo1.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.titulo {
  background: #f7e94a;
  padding: 1rem;
  font-weight: 900;
  font-size: 1.8rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.grid-equipos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.pokemon-card {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.pokemon-card img {
  max-width: 100%;
  height: auto;
}

.pokemon-nombre {
  margin-top: 0.5rem;
  font-weight: 700;
  font-size: 1.1rem;
}

.botones {
  display: flex;
  justify-content: space-between;
}

.btn-cancelar {
  background-color: #d83a3a;
  color: white;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-siguiente {
  background-color: #2a75bb;
  color: white;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
